<div class="sticky-top">
  <app-gallery-navbar [active]="currentCategory"></app-gallery-navbar>
</div>

<div [@fadeIn]="pictureList.length">
  <ng-container *ngFor="let picture of pictureList; let i = index">
    <div class="img-container">
      <img
        class="full-width"
        [src]="picture.halfSizePath"
        [alt]="picture.description"
        (click)="setImageFullscreenable(i)"
      />
      <mat-icon
        *ngIf="indexFullscreenablePicture === i"
        [@inOutAnimation]
        (click)="openFullscreenPictureInNewTab(i)"
        >fullscreen</mat-icon
      >
    </div>
  </ng-container>
</div>
