<div class="thumbnail-container" (click)="setActiveCategory()">
  <div>
    <h2
      [ngClass]="{ hidden: !displayLogoOnThumbnail }"
      class="thumbnail-title"
      [ngStyle]="sectionFont"
    >
      {{ sectionTitle }}
    </h2>
    <img
      class="visible"
      [ngClass]="{ active: active }"
      [src]="landingPageSection?.miniaturePath"
    />
  </div>
  <img class="ambilight" [src]="landingPageSection?.miniaturePath" />
  <div *ngIf="active" class="description">
    {{ sectionDescription }}
  </div>
  <div class="to-gallery-button" *ngIf="active">
    <button mat-icon-button color="primary" (click)="toGallery($event)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
