.title-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.about-container {
  height: 100%;
  padding: 4rem 1rem;
  background: url("../../../assets/images/about-picture-crop.jpg");
  background-position: 75% 30%;
  background-repeat: no-repeat;
  p {
    padding: 5px 10px;
    border-radius: 20px;
    margin: auto;
    width: 85%;
    text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000,
      1px 1px 2px #000;
    backdrop-filter: blur(3px);
    font-size: 20px;
    color: #ccc;
    margin-bottom: 25px;
  }
}
