<div class="title-logo"><app-title-logo></app-title-logo></div>

<nav mat-tab-nav-bar color="accent">
  <a mat-tab-link [routerLink]="'/home'">Accueil</a>
  <a mat-tab-link [active]="true">À Propos</a>
  <a mat-tab-link [routerLink]="'/contact'">Contact</a>
</nav>

<div
  class="about-container"
  [@fadeIn]
  [ngClass]="{ smallDevice: smallDevice, laptop: !smallDevice }"
>
  <h2>À propos</h2>
  <p>Patrick d'Andernos...un jeune de 60 ans.</p>
  <p>
    Il a été élevé à l'argentique et aux "chasseurs d'images" dès le début des
    années 80.
  </p>

  <p>
    Ses livres de chevet parlaient de technique ; de boitiers avec moult
    vistemboirs, boutons et molettes, ainsi que de gros objectifs avec plein de
    lentilles dedans... Ses lectures l'orientent désormais vers la composition ;
    l'équilibre, les lignes, l'harmonie qui créent la belle image.
  </p>

  <p>
    Archer depuis 1982, c'est naturellement qu'il immortalise ses compagnons
    d'arme depuis une douzaine d'année. Il est rapidement accrédité par la
    Fédération Française de Tir à l'Arc pour couvrir les championnats nationaux.
  </p>

  <p>
    Au fil des années, deux passions émergent naturellement de sa pratique
    photographique : le portrait et les mondes macroscopiques.
  </p>

  <p>
    En 2016, il aménage un studio à domicile. Il servira aussi bien aux
    portraits qu'à la mise en scène de mondes lilliputiens.
  </p>

  <p>
    La plupart des portraits sont réalisés en collaboration avec sa muse, Lilli,
    qui apporte un coté sensible et féminin et contrebalance son coté sombre et
    obscur.
  </p>

  <p>
    Le portrait réussi transcrit, à ses yeux, une expression qui caractérise le
    modèle vis à vis de ses proches. A la fois ses traits physiques, mais aussi
    sa posture, ses habitudes de vie, son univers, sa singularité, son
    caractère. L’échange est primordial lors de la rencontre, il est
    indispensable de créer un lien de confiance avec le sujet... pour provoquer
    quelque chose, saisir une expression, une étincelle...
  </p>
</div>
