.icons-container {
  padding-top: 8px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;

  .mat-icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
    color: #333;

    &.active {
      color: #ccc;
      filter: drop-shadow(0 0 0.3rem #7b1fa2);
    }
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.home-button {
  position: fixed;
  top: 5px;
  left: 5px;
  color: white;
}

.hide-button {
  color: white;
  position: fixed;
  top: 5px;
  right: 5px;

  &bgc {
    background-color: black;
  }
}
