<div class="title-logo"><app-title-logo></app-title-logo></div>

<nav mat-tab-nav-bar color="primary">
  <a mat-tab-link [active]="true">Accueil</a>
  <a mat-tab-link [routerLink]="'/about'">À Propos</a>
  <a mat-tab-link>Contact</a>
</nav>

<div class="section-container">
  <p>Accès aux galeries:</p>
  <div
    [ngClass]="{ col: screenSize === 'XSmall' || screenSize === 'Small' }"
    [@fadeIn]="landingPageSection.length"
  >
    <ng-container *ngFor="let section of landingPageSection">
      <app-thumbnail-section
        [landingPageSection]="section"
        [screenSize]="screenSize"
        [active]="activeCategory === section.category"
        (activeCategory)="setActiveCategory($event)"
      ></app-thumbnail-section>
    </ng-container>
  </div>
</div>
