<div class="title-logo"><app-title-logo></app-title-logo></div>

<app-navbar [isActive]="navbarPageName.PRICING"></app-navbar>

<div class="studio-container">
  <h2>Le Studio</h2>

  <p class="top-content">
    Forfait studio : Réalisation d'environ 10 photos retouchées en haute
    définition au format numérique. (Fichiers jpeg définition env. 8000 x 5300
    pixels livrées via Dropbox).
  </p>

  <img
    src="../../../assets/images/studio-01.jpg"
    alt=""
    class="studio-image margin-auto"
  />
  <p class="top-content">
    <strong>Avant le shooting</strong> : Nous serons force de proposition et
    nous prendrons le temps de discuter ensemble de votre projet.
  </p>

  <div class="side-by-side-container reverse">
    <img
      src="../../../assets/images/studio-02.jpg"
      alt=""
      class="studio-image"
    />
    <p>
      Le shooting dure entre 2 et 4 heures. Nous sommes à votre écoute et
      faisons en sorte de vous mettre à l'aise, en créant un lien et une
      complicité avec vous. Nous vous proposons plusieurs set-up d'éclairage et
      vous conseillons sur les tenues ainsi que les accessoires, foulard,
      chapeau, lunettes que vous aurez apportés....
    </p>
  </div>

  <div class="side-by-side-container">
    <img
      src="../../../assets/images/studio-04.jpg"
      alt=""
      class="studio-image"
    />
    <span>
      <p>
        - Nous travaillons presque toujours à 2. Nous nous connaissons
        parfaitement et nous complétons naturellement. Elle, avec sa grande
        créativité artistique; va vous guider, vous conseiller et vous mettre à
        l'aise devant l'objectif; lui, l'opérateur discr et, maitrisant
        parfaitement son matériel professionnel, gère la technique de la prise
        de vue. Nous sommes là pour faire de cette occasion un moment unique.
      </p>
      <br />
      <p>
        - Infiniment passionnés, nous ne comptons pas notre temps et nos efforts
        pour obtenir un résultat qui vous satisfera pleinement.
      </p>
      <br />
      <p>
        - La réalisation de portraits en studio est une expérience autant
        humaine que photographique.
      </p>
    </span>
  </div>

  <img
    src="../../../assets/images/studio-03.jpg"
    alt=""
    class="studio-image margin-auto"
  />

  <p class="conclusion">
    Le shooting en atelier photos vous permettra de profiter d’une séance
    intimiste et personnalisée qui vous promet de passer un moment inoubliable.
  </p>
  <p class="conclusion">
    Il révélera des expressions inattendues faites de spontanéité et d’émotions
  </p>
</div>
