@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
html,
body {
  // height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, black 20%, #0d0d0f 100%);
}
